<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009548471879-170859ckeqsnu86n4rpni623iimh9ied.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009548471879-170859ckeqsnu86n4rpni623iimh9ied</string>
	<key>API_KEY</key>
	<string>AIzaSyA1cLwGnV_oCLefWStrVjpnra1xL0_CFOw</string>
	<key>GCM_SENDER_ID</key>
	<string>1009548471879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecoDemo</string>
	<key>PROJECT_ID</key>
	<string>ecobuddy-153ba</string>
	<key>STORAGE_BUCKET</key>
	<string>ecobuddy-153ba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009548471879:ios:7fe2bf48de7a5684d98b62</string>
</dict>
</plist>